.headline {
  margin-bottom: 50px;
}

.no-margin-top {
  margin-top: 0;
}

#avatar-box {
  position: absolute;
  z-index: 1;
  left: 80px;
  top: 35px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #ddd;
}

#avatar-img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
